/build/ 
/android/app/build/ 
.dart_tool/ 
.idea/ 
.gradle/ 
**/intermediates/** 
**/generated/** 
**/.DS_Store
**/.kotlin/
**/ephemeral/
**/flutter_export_environment.sh
**/Generated.xcconfig
android/key.properties
android/app/*.jks
